<a href="https://colab.research.google.com/github/eeyamazaki/perdas/blob/main/dados_perdas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import os
import glob
import pandas as pd
from google.colab import files

In [24]:
os.chdir(r'/content/drive/MyDrive/Projetos/perdas/VD/')
files = glob.glob('*.xlsx')

df = pd.concat([pd.read_excel(file) for file in files]).reset_index()

In [25]:
df.head()

,index,Periodo Mensal Analisado: De 01/2022 Ate 1/2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,0,NaN,NaN,Calculo Mensal - Canal Volume 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Nº Série,Descrição,01/2022,2/2022,3/2022,4/2022,5/2022,6/2022,7/2022,8/2022,9/2022,10/2022,11/2022,12/2022,1/2023,Volume Total
2,2,47830856,1 VRP Imbiras JICA,0,0,42084.52,161793.02,151720.7,134129.84,28369.43,23525.82,158059.83,16650.94,0,0,0,716334.1
3,3,47831393,1 VRP Francisco Connor JICA,55698,140471,136058,113871,72151,51594,102463,51459,50824,4224,0,0,0,778813
4,4,47832229,1 VRP Alvaro Machado Pedrosa,7431,0,13249,22829,22697,5351,20880,28717,49600,2587,0,0,0,173341

In [26]:
# Colocando a segunda linha como cabecalho:

df = df.rename(columns=df.iloc[1])

In [27]:
# Removendo demais valores de cabecalhos do df:

df = df[df['Descrição'].str.contains('Descrição')==False]

In [28]:
# Removendo valores nulos:

df = df.dropna(subset=['Descrição'])

In [29]:
df.isnull().sum()

1               0
Nº Série        0
Descrição       0
01/2022         0
2/2022          0
3/2022          0
4/2022          0
5/2022          0
6/2022          0
7/2022          0
8/2022          0
9/2022          0
10/2022         0
11/2022         0
12/2022         0
1/2023          0
Volume Total    0
dtype: int64

In [30]:
dfVRP = df.iloc[:, 1:3]

In [31]:
dfVRP = dfVRP.drop_duplicates(subset=['Nº Série'])

In [32]:
df.head()

,1,Nº Série,Descrição,01/2022,2/2022,3/2022,4/2022,5/2022,6/2022,7/2022,8/2022,9/2022,10/2022,11/2022,12/2022,1/2023,Volume Total
2,2,47830856,1 VRP Imbiras JICA,0,0,42084.52,161793.02,151720.7,134129.84,28369.43,23525.82,158059.83,16650.94,0,0,0,716334.1
3,3,47831393,1 VRP Francisco Connor JICA,55698,140471,136058,113871,72151,51594,102463,51459,50824,4224,0,0,0,778813
4,4,47832229,1 VRP Alvaro Machado Pedrosa,7431,0,13249,22829,22697,5351,20880,28717,49600,2587,0,0,0,173341
5,5,60851,1 Gustavo Adolfo JICA*,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,6,47832797,1 VRP José Martins Borges,4186.2,4238.2,4968.4,4716,4682.8,4222.9,3680.3,4461.9,4288.9,446.2,0,0,0,39891.8

In [33]:
# Dropando a ultima coluna:

df = df.drop(['Descrição', 'Volume Total'], axis=1)

In [34]:
cols = df.columns[1:]

In [35]:
df[cols].head()

,Nº Série,01/2022,2/2022,3/2022,4/2022,5/2022,6/2022,7/2022,8/2022,9/2022,10/2022,11/2022,12/2022,1/2023
2,47830856,0,0,42084.52,161793.02,151720.7,134129.84,28369.43,23525.82,158059.83,16650.94,0,0,0
3,47831393,55698,140471,136058,113871,72151,51594,102463,51459,50824,4224,0,0,0
4,47832229,7431,0,13249,22829,22697,5351,20880,28717,49600,2587,0,0,0
5,60851,0,0,0,0,0,0,0,0,0,0,0,0,0
6,47832797,4186.2,4238.2,4968.4,4716,4682.8,4222.9,3680.3,4461.9,4288.9,446.2,0,0,0

In [37]:
df = df[cols].set_index('Nº Série').stack().reset_index()

In [38]:
df.columns.values[0:] = ['NSerie', 'DataRef', 'VD']

In [39]:
df.head()

     NSerie  DataRef         VD
0  47830856  01/2022          0
1  47830856   2/2022          0
2  47830856   3/2022   42084.52
3  47830856   4/2022  161793.02
4  47830856   5/2022   151720.7

In [43]:
len(df)

1014

In [45]:
# Download das tabelas:
from google.colab import files

df.to_csv('VD.csv')
files.download('VD.csv')

dfVRP.to_csv('VRP.csv')
files.download('VRP.csv')